@font-face{
    font-family: Komika;
    src: url(./KOMTXTTI.ttf);
}
@font-face{
    font-family: BusFont;
    src: url(./aAutobusOmnibus.ttf);
}
@font-face{
    font-family: MachineFont;
    src: url(./Clone\ Machine.otf);
}


body {
    background-image: url(../Imagenes/fase3\ wallpaper.jpg);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: BusFont;
    font-size: 70px;
    color: rgba(102, 245, 7, 0.877);
    text-align: center;
}

#text {
    border-style: groove;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    text-align: center;
    font-family: Komika;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.699);
}

#pasajeros {
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(102, 245, 7, 0.877);
    padding: 1%;
    margin-left: 40%;
    margin-right: 40%;
}

img {
    width: 75px;
    height: 75px;
}

img:hover {
    width: 85px;
    height: 85px;
    cursor: pointer;
}

img:active{
    width: 65px;
    height: 65px;
}

form {
    font-family: MachineFont;
    color: white;
    margin-top: 3%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 1%;
    border-style: solid;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.733);
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20%;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

  .sixth {
    border-radius: 3em;
    border-color: #2ecc71;
    color: #2ecc71;
    background-image: -webkit-linear-gradient(top, transparent 50%, #2ecc71 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #2ecc71 50%);
    background-position: 0% 0%;
    background-size: 210%;
    -webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
    transition: background 150ms ease-in-out, color 150ms ease-in-out;
  }
  .sixth:hover {
    color: #fff;
    background-position: 0 100%;
  }