@font-face{
    font-family: Noise;
    src: url(./Noise-Demo.ttf);
}
@font-face{
    font-family: Komika;
    src: url(./KOMTXTTI.ttf);
}
@font-face{
    font-family: HandFont;
    src: url(./HANDC___.TTF);
}
@font-face{
    font-family: PistaFont;
    src: url(./Handpen.ttf);
}

body {
    background-image: url(../Imagenes/fase1\ wallpaper.jpg);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Noise;
    font-size: 90px;
    color: rgba(230, 9, 9, 0.664);
    text-align: center;
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {
    --color: #ef6eae;
    --hover: #ef8f6e;
}
.pulse:hover{
    cursor: pointer;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.raise {
    --color: #ffa260;
    --hover: #e5ff60;
  }
  .slide:hover,
  .slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
  }

  .slide {
    --color: #8fc866;
    --hover: #66c887;
  }
  .slide:hover {
    cursor: pointer;
  }
  
button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
  }

  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
  }

form {
    text-align: center;
}

#text {
    border-style: groove;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    text-align: center;
    font-family: Komika;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#sopa {
    text-align: center;
    font-family: HandFont;
    color: black;
    background-image: url(../Imagenes/papiro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 25%;
    margin-right: 25%;
}

#pistas {
    border-style: hidden;
    font-family: PistaFont;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#btn_solucion:hover {
  cursor: pointer;
}