@font-face{
  font-family: BirthdayFont;
  src: url(./Birthday\ -\ Personal\ Use.otf);
}
@font-face{
  font-family: GloboFont;
  src: url(./DHF\ Happy\ Birthday\ Ryan.ttf);
}
@font-face{
  font-family: QuestionFont;
  src: url(./QUESTIONS.ttf);
}

body {
  background-image: url(../Imagenes/final\ wallpaper.jpg);
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: BirthdayFont;
  font-size: 40px;
  color: rgb(255, 0, 43);
}

h2 {
  font-family: GloboFont;
  font-size: 35px;
  color: rgb(255, 0, 212);
}

p {
  font-family: QuestionFont;
  font-size: 30px;
}

.relativeContainer {
  position: relative;
  text-align: center;
  border-style: groove;
  border-radius: 20px;
  border-width: 7px;
  background-color: rgba(255, 255, 255, 0.63);
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1%;
}

#botonQueSeMueve {
  position: absolute;
}

.btn {
  text-align: center;
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #318aac;
  position: relative;
  border: 2px solid #318aac;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  margin-left: 1%;
}
.btn:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
  cursor: pointer;
}

.boton2 {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #318aac;
  border: 2px solid;
  border-color: #318aac;
  position: relative;
}
.boton2:before {
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
} 
.boton2:hover:before {
  height: 100%;
  cursor: pointer;
}